/* css code for login.html */

/* calibrating the page */
* {
    margin: 0;
    padding: 0;
}

/* font */
* {
    font-family: 'Vazir', sans-serif;
}

/* no scroll */
body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* style for the whole container. We want full screen website */
#whole-container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row-reverse;
}

/* style for the right side container where we have our logo and headers */
#right-main-container {
    background-color: #1780df;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    padding-top: 10px;
}

/*  style for the left side container where we have our text bars and bottoms */
#left-main-container {
    background-color: #f0f0f0;
    height: 100%;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* This one is for the text covering our text bar . we want it to hide some part of the top border of our text bar so it has absoloute position and some margin which will be given to its text */
#top-label {
    width: 80px;
    height: 20px;
    color: #6e7794;
    direction: rtl;
    font-size: 14px;
    background-color: #f0f0f0;
    position: absolute;
    right: 740px;
    top: 202px;
    text-align: center;

    font-weight: bold;

}

/* Margin for the top label of the textbar */
#top-label-text {
    margin-top: 7px;
}

/* style for container for the right side main logo */
#logo-container {

    width: 61%;
    height: 18%;
    background-image: url("../images/loginlogo.svg");
    background-repeat: no-repeat;
    Background-size: contain;
    margin-right: 30px;
    margin-left: 60px;
    margin-top: 0px;
    padding-left: 10px;
    margin-bottom: 20px;
}

/* header for right side welcome */
#welcome-header {
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-align: right;
    direction: rtl;
}


/* style for darmankade introduction */
#introduction {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    direction: rtl;
    margin-top: 20px;
}

/* style for lef header */
#left-text {
    color: #3b4157;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    direction: rtl;
    margin-bottom: 60px;
}

/* style for phone number text box */
#phone-text-box {
    background-color: white;
    border: 1px solid #6e7794;
    width: 40%;
    height: 8%;
    direction: rtl;
    text-align: right;
    language: "ar-sa";
    padding-right: 15px;
    font-size: 15px;
    border-radius: 9px
}


/* style for search bottom */
#search-button {
    background-color: #fb815e;
    border: 0px;
    height: 6%;
    width: 42%;
    text-align: center;
    padding-top: 8px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 10px;
    direction: rtl;
    text-align: center;

}

/* style fore code moaref bottom */
#code-moarref {

    margin-top: 30px;
    Border: 1px solid #fb815e;
    border-radius: 10px;
    height: 5%;
    width: 14%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #fb815e;
    font-size: 14px;
    justify-content: center;
    align-items: center;




    padding-top: 14px;
}


/* style fore code moaref hover */
#code-moarref:hover {
    background-color: #fb815e;
    color: white;
}

/* the google icon with local address */
#google-icon {
    font-size: 40px;
    margin-top: 40px;
    background-image: url("../images/google.png");
    height: 30px;
    width: 30px;
    background-size: cover;
}

/* style for login with google text */
#google-login-text {
    text-decoration: none;
    margin-top: 10px;
    border-bottom: 1px dashed;
    border-top: 0;
    padding-bottom: 3px;
    color: #1780df;
    font-weight: 700 !important;
}

/* on hover, google login text will have this style*/
#google-login-text:hover{
    color: #fb815e;
}





